.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
}
.header > .logo-container {
  width: 60px;
  margin: 10px;
  padding: 2px;
}
.logo {
  width: 100%;
}
.nav-container {
  margin: 10px;
  padding: 2px;
}
.nav-items {
  display: flex;
}
.nav-container > .nav-items > li {
  padding: 0px 10px;
  list-style: none;
}
.nav-container > .nav-items > li:hover {
    cursor: pointer;
}

.res-card-container {
  border: 1px solid brown;
  width: 240px;
  border-radius: 6px;
  margin: 10px;
  background-color: #f3f4f6;
}
.res-card-container:hover {
    cursor: pointer;
    box-shadow: 0 0 3px;
    border: 2px solid brown;
}
.res-card-container > .res-image {
  width: 240px;
}
.res-card-container > .res-image > img {
  width: 230px;
  padding: 5px;
  border-radius: 12px;
}
.res-info {
  margin: 10px;
}
.res-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

.filter {
  margin: 10px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  
}

.shimmer-card {
  width: 240px;
  height: 350PX;
  border-radius: 6px;
  margin: 10px;
  background-color: #f0f0f0
}